In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, FloatType

# Step 1: Create a SparkSession
spark = SparkSession.builder.appName("ETFs_Stocks_Data").getOrCreate()

# Step 2: Define the schema for the existing stock data without 'Symbol' and 'Security Name'
existing_schema = StructType([
    StructField("Date", StringType(), True),
    StructField("Open", FloatType(), True),
    StructField("High", FloatType(), True),
    StructField("Low", FloatType(), True),
    StructField("Close", FloatType(), True),
    StructField("Adj Close", FloatType(), True),
    StructField("Volume", FloatType(), True)  # Assuming Volume is represented as a float type
])

# Step 3: Read data from CSV into the DataFrame using the existing schema
file_path = "path/to/stock_data.csv"  # Update this with the actual path of your CSV file
stock_df = spark.read.csv(file_path, header=True, schema=existing_schema)

# Step 4: Add new columns 'Symbol' and 'Security Name'
stock_df = stock_df.withColumn("Symbol", StringType())  # Fill in the 'Symbol' column with appropriate values
stock_df = stock_df.withColumn("Security Name", StringType())  # Fill in the 'Security Name' column with appropriate values

# Now, the 'stock_df' DataFrame contains your data with the 'Symbol' and 'Security Name' columns.
# You can populate the values of 'Symbol' and 'Security Name' based on your data source.

# Example of populating the 'Symbol' and 'Security Name' columns using a constant value for demonstration purposes:
symbol_value = "AAPL"  # Replace this with the actual symbol value
security_name_value = "Apple Inc."  # Replace this with the actual security name value

# To fill all rows in the column with a constant value, use the 'lit' function from 'pyspark.sql.functions':
from pyspark.sql.functions import lit
stock_df = stock_df.withColumn("Symbol", lit(symbol_value))
stock_df = stock_df.withColumn("Security Name", lit(security_name_value))

# Now, the 'stock_df' DataFrame has the 'Symbol' and 'Security Name' columns populated with the provided values.

# Additional operations on the DataFrame, if required.
# For example, you can save the DataFrame back to a new CSV file:
output_file_path = "path/to/output_stock_data.csv"  # Replace this with the desired output file path
stock_df.write.csv(output_file_path, header=True, mode="overwrite")

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/23 01:14:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

AnalysisException: [PATH_NOT_FOUND] Path does not exist: file:/Users/hople/working_folder/Bootcamp_practices/ML_PIPELINE_AIRFLOW_SPARK_DOCKER/Dockerize_entire_workflow/dags/utils/path/to/stock_data.csv.

In [2]:
stock = pd.read_csv('../data/stocks_etfs/A.csv')

In [3]:
stock

,Date,Open,High,Low,Close,Adj Close,Volume
0,1999-11-18,32.546494,35.765381,28.612303,31.473534,27.068665,62546300
1,1999-11-19,30.713520,30.758226,28.478184,28.880543,24.838577,15234100
2,1999-11-22,29.551144,31.473534,28.657009,31.473534,27.068665,6577800
3,1999-11-23,30.400572,31.205294,28.612303,28.612303,24.607880,5975600
4,1999-11-24,28.701717,29.998211,28.612303,29.372318,25.261524,4843200
...,...,...,...,...,...,...,...
5119,2020-03-26,70.000000,74.449997,69.650002,73.720001,73.532867,3267500
5120,2020-03-27,71.550003,73.209999,70.279999,70.910004,70.730003,1829800
5121,2020-03-30,71.059998,73.180000,71.059998,72.669998,72.669998,1486200
5122,2020-03-31,72.339996,72.800003,70.500000,71.620003,71.620003,1822100
5123,2020-04-01,69.470001,70.230003,68.150002,68.919998,68.919998,2173600

In [5]:
stock_p = pd.read_parquet('../data/processed_stocks_etfs/A.parquet')

In [6]:
stock_p

,Symbol,Security Name,Date,Open,High,Low,Close,Adj Close,Volume
0,A,"Agilent Technologies, Inc. Common Stock",1999-11-18,32.546494,35.765381,28.612303,31.473534,27.068665,62546300
1,A,"Agilent Technologies, Inc. Common Stock",1999-11-19,30.713520,30.758226,28.478184,28.880543,24.838577,15234100
2,A,"Agilent Technologies, Inc. Common Stock",1999-11-22,29.551144,31.473534,28.657009,31.473534,27.068665,6577800
3,A,"Agilent Technologies, Inc. Common Stock",1999-11-23,30.400572,31.205294,28.612303,28.612303,24.607880,5975600
4,A,"Agilent Technologies, Inc. Common Stock",1999-11-24,28.701717,29.998211,28.612303,29.372318,25.261524,4843200
...,...,...,...,...,...,...,...,...,...
5119,A,"Agilent Technologies, Inc. Common Stock",2020-03-26,70.000000,74.449997,69.650002,73.720001,73.532867,3267500
5120,A,"Agilent Technologies, Inc. Common Stock",2020-03-27,71.550003,73.209999,70.279999,70.910004,70.730003,1829800
5121,A,"Agilent Technologies, Inc. Common Stock",2020-03-30,71.059998,73.180000,71.059998,72.669998,72.669998,1486200
5122,A,"Agilent Technologies, Inc. Common Stock",2020-03-31,72.339996,72.800003,70.500000,71.620003,71.620003,1822100
5123,A,"Agilent Technologies, Inc. Common Stock",2020-04-01,69.470001,70.230003,68.150002,68.919998,68.919998,2173600